$color-grey: #828282;
$color-grey-light: #e0e0e0;
$color-green: #6fcf97;
$color-green-dark: #27AE60;
$color-green-darker: #219653;
$color-brown: #f2994A;
$color-yellow: #f2c94c;
$color-blue: #2f80ed;
$color-red: #eb5757;
$color-white: #fff;

/* Drop shadows */

$drop-shadow: 0 4px 4px rgba(0, 0, 0, .25);
$drop-shadow-light: 0 4px 8px rgba(0, 0, 0, .05);

/* Fonts */

$font-primary: 'Public Sans', sans-serif;

/* Breakpoints */

$bp-large: 1440px;
$bp-medium: 1100px; 
$bp-small: 700px; 

