@import "./_variables.scss";

/* Resets */

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: $color-green;
    border-left: 22px solid $color-green-dark;
    border-right: 22px solid $color-green-dark;
    font-family: $font-primary;
    font-weight: 400;
    height: 100vh;
    overflow: hidden;
}

button {
    font-size: 24px;

    &:disabled {
        cursor: not-allowed;
        pointer-events: all !important;
    }
}

nav {
    background: $color-green-dark;
    color: #fff;
    font-size: 24px;
    left: 0;
    padding: 7px 30px;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
}

.hide {
    display: none;
}