@import "./_variables.scss";

/* Resets */

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: $color-green;
    font-family: $font-primary;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: $bp-medium;
}

button {
    font-size: 24px;

    &:disabled {
        cursor: not-allowed;
        pointer-events: all !important;
    }
}

nav {
    background: $color-green-dark;
    color: #fff;
    font-size: 24px;
    padding: 20px 30px;
}

.hide {
    display: none;
}