@import "./_variables.scss";

/* Resets */

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: $color-green;
    font-family: $font-primary;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    max-width: $bp-medium;
}

button {
    // font-family: 'Public Sans', sans-serif !important;
}

.hide {
    display: none;
}